.App {
  text-align: center;
  margin-top: 20vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#dateInput {
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  margin: 10px;
  padding: 0px 5px;
}

p {
  font-size: large;
}